@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --black: #171717;
  --text-a: #000000D9;
  --text-b: #171717;
  --text-c: #666666;
  --text-d: #262626;
  --bg-highlight: #CDE7FF;
  --border: #eaeaea;
  --input: #f2f2f2;
  --accent: #ebebeb;
  --light-bg: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFFFFF;
    --black: #171717;
    --text-a: #000000D9;
    --text-b: #171717;
    --text-c: #666666;
    --text-d: #262626;
    --bg-highlight: #CDE7FF;
    --border: #eaeaea;
    --input: #f2f2f2;
    --accent: #ebebeb;
  }
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  overflow-y: hidden;
}

::selection {
  color: var(--white);
  background: var(--black);
}

.no-scroll {
  overflow: hidden;
}

.no-drag {
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}